
<div class="ibox">
    <div class="ibox-title">
<span class="panel-title">
<?= __('Add {0}', ['Asueto']) ?>
</span>
    </div>
    <div class="ibox-content">
    <?= $this->Form->create($asueto , [ 'class'=>'form-horizontal'] ); ?>
   
       
        
   
                <div class="um-form-row form-group">
            
            <label class="col-sm-2 control-label" >

                <?=  __('Dia'); ?>

            </label>

            <div class="col-sm-3">

            <?= $this->Form->input('dia', [ 'div'=>false, 'class' => 'form-control datepicker ' , 'label' => false]); ?>

            </div>
                            </div>
                    <div class="um-form-row form-group">
                        </div>
                    <div class="um-form-row form-group">
            
            <label class="col-sm-2 control-label" >

                <?=  __('User_id'); ?>

            </label>

            <div class="col-sm-3">

            <?= $this->Form->input('user_id', [ 'div'=>false, 'class' => 'form-control  ' , 'label' => false]); ?>

            </div>
                            </div>
                    
    <div class="um-button-row">
    <?= $this->Form->button( __('Add' ) , ['class'=>'btn btn-primary'  ]) ?>
    </div>
    <?= $this->Form->end() ?>
</div>
</div>