<?php
$this->extend('../Layout/TwitterBootstrap/dashboard');
?>

<?php
/* Chosen is taken from https://github.com/harvesthq/chosen/releases/ */
    echo $this->Html->css('plugins/fullcalendar/fullcalendar.css?q='.QRDN);

     echo $this->Html->css('bootstrap-datetimepicker.min.css?q='.QRDN);

        
    echo $this->Html->script('plugins/fullcalendar/moment.min.js');

    echo $this->Html->script('plugins/fullcalendar/fullcalendar.min.js');
    
    echo $this->Html->script('plugins/fullcalendar/es.js');

    echo $this->Html->script('bootstrap-datetimepicker.js');


?>

<style type="text/css">
    
.mireservacion{
      
background-color:#1ab394;

}

.mireservacion

</style>

<div >
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="col-md-4">
                        <h2> <?php echo __('Calendario')?> </h2>
                    </div>
                    <div class="ibox-tools col-md-4 pull-right">
                        

                    </div>
                </div>
                <div class="ibox-content">

                <?php echo $this->element('all_recursos',[ 'modo_calendario' => true ,'clientes' => $clientes ]);?>


              
                               
                <?= $this->element('modal_reservacion',array('reservacion' => $reservacion,'clientes' => $clientes, 'show_select_recurs'=> false ) )?>

             

                      

                </div>

                </div>
            </div>
        </div>
    </div>
</div>



